---
export const prerender = true;
import Layout from "../layouts/Layout.astro";
import TextSection from "../layouts/TextSection.astro";
import { Image } from "astro:assets";
import monicaPhoto from "@/images/monica.jpeg";
import { getEntry } from "astro:content";
import type { Props as SEOProps } from "astro-seo";
import createStarterMetaTags from "@/functions/createStarterMetaTags";
import type { StarterMetaTagProps as InputProps } from "@/functions/createStarterMetaTags";

const introList = await getEntry("intro", "intro");

const Content = (await introList?.render()).Content;

const objectToPlace: InputProps = {
	title: "Monica DeFosse - Once Upon A Wish Travel",
	description: "Hello Dreamers! I'm Monica and here's why I love helping you plan all your special magical adventures.",
	url: Astro.url.href,
	mainSite: Astro.url.origin,
	imageURL: Astro.url.origin + "/monica_og_image.jpeg",
	imageAlt: "Monica DeFosse - Once Upon A Wish Travel Photo",
	openGraph: {
		type: "website",
	},
	twitter: {
		card: "summary_large_image",
	},
};

const SEO: SEOProps = createStarterMetaTags(objectToPlace);
---

<Layout userSEOProps={SEO}>
	<section id='image-top'>
		<Image class='monica-icon' src={monicaPhoto} width={305} height={305} alt='Monica DeFosse - Once Upon A Wish Travel Photo' />
	</section>
	<TextSection>
		<Content slot='content-area' />
	</TextSection>
</Layout>

<style>
	#image-top {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}
	.monica-icon {
		border-radius: 50%;
		/* width: 19rem; */
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center;
		padding: 0.5rem;
		border: 3px rgb(255, 255, 255) solid;
		box-shadow: 0 0 0.5rem rgb(255, 255, 255);
	}
</style>
