
#about-me-main section:has(img) {
   display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between
}

article {
    flex: 1 1 0;
}


img {
    // max-width: 400px;
    // max-height: 400px;
    object-fit: contain;
    border-radius: 5%;
    flex: 1 1 0;
}
