---
import BreadCrumbsSetup from "./BreadCrumbsSetup.astro"
import NavDirectoryLayout from "./NavDirectoryLayout.astro";
import ThemeSelector from "./ThemeSelector.astro";
---

<div class='navbar bg-base-100'>
	<div class='navbar-start'>
		<div class='dropdown'>
			<div tabindex='0' role='button' class='btn btn-ghost lg:hidden'>
				<svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16'></path></svg>
			</div>
			<ul tabindex='1' class='menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52'>
				<NavDirectoryLayout />
			</ul>
		</div>
		<a class='btn shrink sm:shrink-0 btn-ghost sm:text-xl' href='/' transition:name='icon-nav'>Magical Adventures By Monica</a>
	</div>
	<div class='navbar-center hidden lg:flex flex-col'>
		<ul class='menu menu-horizontal px-1'>
			<NavDirectoryLayout />
		</ul>
		<BreadCrumbsSetup />
	</div>
	<div class='navbar-end flex gap-5'>
		<ThemeSelector />
		<a class='btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' href='https://www.onceuponawishtravel.com/monica-defosse'>Start Trip</a>
	</div>
</div>
