---
import NavDirectoryLayout from "./NavDirectoryLayout.astro";
import themeArray from "@/functions/themeArray";
---

<div class='navbar bg-base-100'>
	<div class='navbar-start'>
		<div class='dropdown'>
			<div tabindex='0' role='button' class='btn btn-ghost lg:hidden'>
				<svg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' fill='none' viewBox='0 0 24 24' stroke='currentColor'><path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16'></path></svg>
			</div>
			<ul tabindex='1' class='menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52'>
				<NavDirectoryLayout />
			</ul>
		</div>
		<a class='btn shrink sm:shrink-0 btn-ghost sm:text-xl' href='/' transition:name='icon-nav'>Magical Adventures By Monica</a>
	</div>
	<div class='navbar-center hidden lg:flex'>
		<ul class='menu menu-horizontal px-1'>
			<NavDirectoryLayout />
		</ul>
	</div>
	<div class='navbar-end flex gap-5'>
		<select data-choose-theme transition:persist>
			{
				themeArray.map(theme => (
					<option value={theme} data-act-class='ACTIVECLASS'>
						{theme}
					</option>
				))
			}
		</select>
		<a class='btn btn-xs sm:btn-sm md:btn-md lg:btn-lg' href='https://www.onceuponawishtravel.com/monica-defosse'>Start Trip</a>
	</div>
</div>

<script is:inline>
	function setTheme() {
		// ☝️ This script prevent the FART effect.
		if (localStorage.getItem("theme") === null) {
			document.documentElement.setAttribute("data-theme", "light");
		} else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
		// "theme" LocalStorage value is set by the package to remember user preference.
		// The value is checked and applyed before rendering anything.
	}

	setTheme();

	document.addEventListener("astro:after-swap", () => {
		setTheme();
	});
</script>
<script>
	import { themeChange } from "theme-change";
	themeChange();
</script>
