---

//This area is just a list of navigations that is copied both to the main nav line and to the hidden hamburger menu on mobile
---
<li><a href='/'>Home</a></li>
<li><a href='/about-me'>About Me</a></li>
<li><a href='/contact'>Contact</a></li>
<li><a href='/blog'>Blog</a></li>
<!-- <li><a href='/offers'>Offers</a></li> -->
