---
import themeArray from "@/functions/themeArray";
---

<select data-choose-theme transition:persist class='select'>
	{
		themeArray.map(theme => (
			<option value={theme} disabled={theme.includes("Choose")} data-act-class='ACTIVECLASS'>
				{theme}
			</option>
		))
	}
</select>

<script is:inline>
	function setTheme() {
		// ☝️ This script prevent the FART effect.
		if (localStorage.getItem("theme") === null) {
			document.documentElement.setAttribute("data-theme", "light");
		} else document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"));
		// "theme" LocalStorage value is set by the package to remember user preference.
		// The value is checked and applyed before rendering anything.
	}

	setTheme();

	document.addEventListener("astro:after-swap", () => {
		setTheme();
	});
</script>
<script>
	import { themeChange } from "theme-change";
	themeChange();
</script>
