---
import TextSection from "@/layouts/TextSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
	userSEOProps={{
		nofollow: true,
		noindex: true,
		title: "404 - Page Not Found",
		description: "Page Not Found",
	}}>
	<div slot='hero' class='prose-p:text-neutral-content'>
		<h1 transition:name='page-title'>404 - Page Not Found</h1>
		<TextSection>
			<p>Sorry, we couldn't find that page.</p>
			<p>Please check the URL and try again.</p>
			<a href='/' class='btn btn-primary'>Back to Home</a>
		</TextSection>
	</div>
</Layout>

<style lang='scss'>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		text-align: center;
	}

	h1 {
		font-size: 3rem;
		font-weight: bold;
		color: red;
	}

	#article-section {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		background-color: aliceblue;
		padding: 1rem;
		border-radius: 1rem;
		box-shadow: 0 0 0.5rem rgb(255, 255, 255);
	}

	article {
		transition: all 0.2s ease-in-out;
	}
</style>
