---
import Layout from "@/layouts/Layout.astro";

interface Props {
	error: unknown;
}
const { error } = Astro.props;
---

<Layout
	userSEOProps={{
		nofollow: true,
		noindex: true,
		title: "Server error",
		description: error instanceof Error ? error.message : "Unknown error",
	}}
>
	<h1>Server error</h1>
	<p>{error instanceof Error ? error.message : "Unknown error"}</p>
</Layout>
