---
import Layout from "../layouts/Layout.astro";
import TextSection from "../layouts/TextSection.astro";
import { Image } from "astro:assets";
import monicaPhoto from "@/images/monica.jpeg";
import { getEntry } from "astro:content";

const introList = await getEntry("intro", "intro");

const Content = (await introList?.render()).Content;

const description = "Monica DeFosse - Once Upon A Wish Travel";
---

<Layout title='Monica DeFosse - Once Upon A Wish Travel' description={description}>
	
		<section id='image-top'>
			<Image class='monica-icon' src={monicaPhoto} width={305} alt='Monica DeFosse - Once Upon A Wish Travel Photo' />
		</section>
		<TextSection>
			<Content slot='content-area' />
		</TextSection>
	
</Layout>

<style>
	#image-top {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;
	}
	.monica-icon {
		border-radius: 50%;
		/* width: 19rem; */
		aspect-ratio: 1 / 1;
		object-fit: cover;
		object-position: center;
		padding: 0.5rem;
		border: 3px rgb(255, 255, 255) solid;
		box-shadow: 0 0 0.5rem rgb(255, 255, 255);
	}
</style>
