---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import monicaPhoto from "@/images/monica.jpeg";
import { getEntry } from "astro:content";

const introList = await getEntry("intro", "intro");

const Content = (await introList?.render()).Content;
---

<Layout title='Welcome to Astro.'>
	<main>
		<section class='intro'>
			<Image class='monica-icon' src={monicaPhoto} alt='Astro logo' />
			<article>
				<Content />
			</article>
		</section>
			<button>
				<a href='https://www.onceuponawishtravel.com/monica-defosse?fbclid=IwZXh0bgNhZW0CMTEAAR1ni540p2iP6cKKQEpH9C1YbEZ3Y85XzHMWNy8TIHpJqG4AYLeSf4Ahyk0_aem_AQuQ1NTwg7A5BLtF8ltfcNDQcJiufX3cinjOdkbi0V3VZN3u5AbDer1vg7_uxauyFeqF3x1t4tYAM7nBhqd62bAE'>Let's Go!</a>
			</button>
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-rows: 1fr 1fr;
		padding: 1rem;
	}

	.intro {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 2rem;
		flex-wrap: wrap;
	}

	article {
		flex: 1 0 0;
		min-width: 300px;
		font-size: 2rem;
		line-height: 1.5;
		color: goldenrod;
		font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		background-color: aliceblue;
		padding: 1rem;
		border-radius: 1rem;
	}
	.monica-icon {
		width: 200px;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;
	}

	button {
		background-color: lightblue;
		width: fit-content;
		padding: 1rem;
		border-radius: 1rem;
		color: black;
		align-self: center;
		margin-inline: auto;
		transition: all 0.3s ease;
	}

	button:hover {
		background-color: rgb(0, 255, 255);
		transform: scale(1.1);
		border: 3px green solid;
	}
</style>

<script>
	import confetti from "canvas-confetti";
	const button = document.querySelector("button");
	button?.addEventListener("mouseenter", () => {
		confetti();
	})
</script>
