---
export const prerender = true;
import { Image } from "astro:assets";
import favicon from "@/images/favicon.svg";
import jesseLogo from "@/images/jesse_logo.svg";
---

<footer class='footer p-10 bg-base-200 text-base-content flex justify-between flex-col lg:flex-row'>
		<nav>
			<Image src={favicon} alt='Magical Adventures By Monica Logo' width={50} height={50} />
			<p>Magical Adventures By Monica</p>
			<a class='link link-hover' href='https://onceuponawishtravel.com'> <p>Agent of Once Upon A Wish Travel</p></a>
			<p>Copyright © {new Date().getFullYear()} - All right reserved</p>
		</nav>
		<nav>
			<h6 class='footer-title'>Company</h6>
			<a href='/' class='link link-hover'>Home</a>
			<a href='/about-me' class='link link-hover'>About Me</a>
			<a href='/blog' class='link link-hover'>Blog</a>
			<a href='/sitemap-index.xml' class='link link-hover'>Sitemap</a>
		</nav>
		<nav>
			<h6 class='footer-title'>Contact</h6>
			<a href='tel:5135152967' class='link link-hover'>Phone: (513) 515-2967</a>
			<a href='mailto:monica.defosse@onceuponawishtravel.com' class='link link-hover text-xs sm:text-sm'>Email: monica.defosse@onceuponawishtravel.com</a>
		</nav>
		<nav>
			<!-- create a similar text and image setup for Website Design by Jesse Slomowitz -->
			<!-- <h6 class='footer-title'>Website Design</h6> -->
			<a href='https://www.jesseslomowitz.com' class='link link-hover flex flex-col items-center' target='_blank'>
				<h6 class='footer-title'>Website Design by Jesse Slomowitz</h6>
				<Image src={jesseLogo} alt='Jesse Slomowitz Website Logo' width={70} height={70} />
			</a>
		</nav>
</footer>


<style>
	* {
		transition: all 0.2s ease-in-out;
	}
</style>