---
// Transition issue with this button with selecting themes on page changes so do not add transition
---

<a role='button' id='lets-go-button' class='prose' href='https://ouawtravel.com/ouaw-team/monica-defosse/' target='_blank'>Start the Fireworks!</a>

<style lang='scss'>
	#lets-go-button {
		align-self: center;
		border: 3px gold solid;
		border-radius: 1rem;
		padding: 0.5rem;
		transition: all 0.2s ease-in-out;
		font-weight: bold;
		color: red;
		background-color: white;
	}

	#lets-go-button:hover,
	#lets-go-button:focus {
		background-color: rgb(0, 255, 255);
		transform: scale(1.1);
		border: 3px green solid;
		color: white;
		background-image: linear-gradient(45deg, red, orange, yellow, green, blue);
		background-size: 500px;
		background-position: right;
		animation-name: background-rainbow;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
	}

	@keyframes background-rainbow {
		0% {
			background-position: right;
		}
		50% {
			background-position: top;
			background-size: 300px;
		}
		100% {
			background-position: bottom;
			background-size: 500px;
		}
	}
</style>

<script>
	// import doConfetti from "@/functions/doConfetti";
	// // doConfetti function has setInterval so it needs to be cleared before trasitioning. It also appears there are intervals called for each hover or mouse entered so you need an array of ids to track and clear them all before transitioning.
	// const resetArray: Awaited<() => void>[] = [];

	// if (resetArray.length > 0) {
	// 	resetArray.forEach(reset => reset());
	// 	resetArray.length = 0;
	// }

	// const button = document.querySelector("#lets-go-button");

	// button?.addEventListener("mouseenter", async () => {
	// 	resetArray.push(await doConfetti());
	// });

	// button?.addEventListener("focus", async () => {
	// 	resetArray.push(await doConfetti());
	// });

	// document.addEventListener("astro:after-swap", () => {
	// 	doConfetti();
	// });
</script>
