---

---

<a role='button' id='lets-go-button' class='prose' href='https://www.onceuponawishtravel.com/monica-defosse?fbclid=IwZXh0bgNhZW0CMTEAAR1ni540p2iP6cKKQEpH9C1YbEZ3Y85XzHMWNy8TIHpJqG4AYLeSf4Ahyk0_aem_AQuQ1NTwg7A5BLtF8ltfcNDQcJiufX3cinjOdkbi0V3VZN3u5AbDer1vg7_uxauyFeqF3x1t4tYAM7nBhqd62bAE' transition:name='sign-up-button'>Start the Fireworks!</a>

<style lang='scss'>
	#lets-go-button {
		align-self: center;
		border: 3px gold solid;
		border-radius: 1rem;
		padding: 0.5rem;
		transition: all 0.2s ease-in-out;
		font-weight: bold;
		color: red;
	}

	#lets-go-button:hover,
	#lets-go-button:focus {
		background-color: rgb(0, 255, 255);
		transform: scale(1.1);
		border: 3px green solid;
		color: white;
		background-image: linear-gradient(45deg, red, orange, yellow, green, blue);
		background-size: 500px;
		background-position: right;
		animation-name: background-rainbow;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-direction: alternate;
	}

	@keyframes background-rainbow {
		0% {
			background-position: right;
		}
		50% {
			background-position: top;
			background-size: 300px;
		}
		100% {
			background-position: bottom;
			background-size: 500px;
		}
	}
</style>

<script>
	import doConfetti from "@/functions/doConfetti";
	// doConfetti function has setInterval so it needs to be cleared before trasitioning. It also appears there are intervals called for each hover or mouse entered so you need an array of ids to track and clear them all before transitioning.
	const resetArray: Awaited<() => void>[] = [];

	document.addEventListener("astro:page-load", async () => {
		// This section is for coming back from the Once Upon A Wish Travel page. There is no transition there so "before swap" is never called.

		if (resetArray.length > 0) {
			resetArray.forEach(reset => reset());
			resetArray.length = 0;
		}

		const button = document.querySelector("#lets-go-button");
		button?.addEventListener("mouseenter", async () => {
			resetArray.push(await doConfetti());
		});

		button?.addEventListener("focus", async () => {
			resetArray.push(await doConfetti());
		});
	});
</script>
