---
import FireworksButton from "@/components/FireworksButton.astro";
---

<section id='article-section'>
	<article class='prose md:prose-lg lg:prose-xl' transition:name='main-box'>
		<slot />
	</article>
	<FireworksButton />
</section>

<style lang='scss'>
	#text-section {
		margin-block: 1rem;
		display: flex;
		justify-content: center;
	}
	#article-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;
		border-radius: 0.5rem;
		gap: 0.5rem;
	}

	article {
		// transition: all 0.2s ease-in-out;
		margin-bottom: 1rem;
	}
</style>
