---
import FireworksButton from "@/components/FireworksButton.astro";
import QwikFireworks from "@/components/QwikFireworks.tsx";
---

<section id='text-section'>
	<section id='article-section'>
		<article class='prose md:prose-lg lg:prose-xl' transition:name='main-box'>
			<slot name='content-area'>
				<!-- Fill in text here -->
			</slot>
		</article>
		<slot />
		<FireworksButton />
	</section>
</section>

<style lang='scss'>
	#text-section {
		margin-block: 1rem;
		display: flex;
		justify-content: center;
	}
	#article-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;
		border-radius: 0.5rem;
		gap: 0.5rem;
	}

	article {
		transition: all 0.2s ease-in-out;
	}
</style>

<style is:global>
	#article-section {
		background-color: aliceblue;
	}
</style>
